.headerChatWithFriend {

	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 1%;

	.divShowMessage {

		display: flex;
		width: 90%;
		height: 84%;
		flex-direction: column;
		align-items: start;
		overflow-y: scroll;

		p {

			color: white;
			font-family: "Inter";
			font-size: 3vh;
			width: 100%;
            height: 5%;

			display: flex;
            align-items: center;

			margin-block: 0.25%;
		}

	}

	.divTypeMessage {

		display: flex;
		height: 15%;
		width: 95%;
		flex-direction: row;
		align-items: center;

		.divInputMsg {

			display: flex;
			width: 80%;
			height: 30%;

			.msgToSend {

				width: 100%;
				height: 100%;
				background-color: rgba($color: #000000, $alpha: 0.8);
				border: gray;
				font-family: 'Inter';
				color: white;

			}

		}

		.divButtonSend {

			display: flex;
			width: 20%;
			height: 100%;
			justify-content: center;
			align-items: center;

			button {
					
				color: white;
				font-family: "Inter";
				font-size: large;
				background-color: rgba($color: #000000, $alpha: 0.8);
				border: none;
				cursor: pointer;
				font-size: 3vh;
				width: 50%;
				height: 50%;

				display: flex;
				justify-content: center;
				align-items: center;	
			}

		}

	}

}