.chatButton {
		
	display: flex;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.icon {
	font-size: 1.75vw;
	background-color: rgba(0, 0, 0, 0.155);
	color: purple;

	&:hover {
		color: #ff00aa99;
	}
}
.chatBox {
	background-color: rgb(0, 0, 0);
	height: auto;
	max-height: 700px;
	width: 400px;
}