.headerFriendsInfo {
	width: 45%;
	height: 10%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-block: 0.25%;
}

.FriendsInfoBox {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	padding-left: 1vh;
	padding-right: 1vh;
	background: grey;
	border: 0.4vh solid black;

	p {
		display: flex;
		flex-wrap: wrap;
		font-size: 1.5vh;
	}
	
	.divExtendFriend {
		
		width: 10%;
		height: 100%;
		
		display: flex;
		justify-content: center;
		align-items: center;
	}
}