.divFriendInfoClicked {
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 2%;
	background: #808080ca;
	border-radius: 2rem;
	box-shadow: 0 15px 35px #060f6c8f, 0 5px 15px #480a5a12;
	border: 2px solid #fff;
}

.divFriendInfoNotClicked {
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 2%;
	background: rgba(128, 128, 128, 0.326);
	border-radius: 2rem;
	box-shadow: 0 15px 35px #060f6c8f, 0 5px 15px #480a5a12;
	&:hover {
	border: 2px solid #fff;
	background: rgba(128, 128, 128, 0.68);
	}
}
.divFriendInfo {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	> img {
		max-width: 45px;
		max-height: 45px;
		border-radius: 50%;
	}

	> p {
		margin: 2px;
		font-size: clamp(10px, 1.2vw, 20px);
		font-family: Inter;
		color: white;
	}
}
.Online {
	width: 10px;
	height: 10px;
	margin-right: 20px;

	background-color: #0fcc45;
	border-radius: 50%;
}
.Offline {
	width: 10px;
	height: 10px;
	margin-right: 20px;

	background-color: #c80505;
	border-radius: 50%;
}
.Busy {
	width: 10px;
	height: 10px;
	margin-right: 20px;

	background-color: #cc900f;
	border-radius: 50%;
}

span.blink {
	display: block;
	width: 10px;
	height: 10px;

	background-color: #0fcc45;
	opacity: 0.7;
	border-radius: 50%;

	animation: blink 1s linear infinite;
}

@keyframes blink {
	100% {
		transform: scale(2, 2);
		opacity: 0;
	}
}
