.headerGameDisplay {

	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;

	.emptySpace {

		display: flex;
		width: 2%;
		height: 100%;

	}

	.divDisplayGame {

		display: flex;
		width: 96%;
		height: 100%;

		.display {

			display: flex;
			width: 71%;
			height: 100%;

			flex-direction: column;

		}

		.displayGame {

			display: flex;
			width: 100%;
			height: 85%;
			background-color: black;

			border-color: white;
			border-style: solid solid solid solid;

		}

		.displayTypeGame {

			display: flex;
			width: 100%;
			height: 15%;

			background-color: rgba($color: #000000, $alpha: 0.7);
			flex-direction: row;

			h1 {

				font-family: "inter";
				color: white;

			}

			.leftDisplayTypeGame {

				display: flex;
				width: 50%;
				height: 100%;
				flex-direction: column;

				.divType {

					display: flex;
					width: 100%;
					height: 50%;

					justify-content: center;
					align-items: center;

				}

				.divNbPlayer {

					display: flex;
					width: 100%;
					height: 50%;

					justify-content: center;
					align-items: center;

				}

			}

			.RightDisplayTypeGame {

				display: flex;
				width: 50%;
				height: 100%;
				flex-direction: column;

				.divTitleReady {

					display: flex;
					width: 100%;
					height: 50%;

					justify-content: center;
					align-items: center;

				}

				.divButtonReady {

					display: flex;
					width: 100%;
					height: 50%;

					justify-content: center;
					align-items: center;

					button {
					
						color: white;
						font-family: "Inter";
						font-size: large;
						background-color: rgba($color: #000000, $alpha: 0.8);
						border-color: white;
						cursor: pointer;
						font-size: 4vh;
						width: 50%;
						height: 50%;
		
						display: flex;
						justify-content: center;
						align-items: center;

						&:active {

							background-color: rgba($color: red, $alpha: 0.8);
							border-color: brown;
	
						}

					}
				}
			}

		}

		.divChat {

			display: flex;
			width: 29%;
			height: 100%;

			background-color: rgba($color: #000000, $alpha: 0.7);

		}

	}

}