.headerMatchHistoryInfo {
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-block: 0.25%;
}

.InfoBox {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	
	padding: 8px;
	background: linear-gradient(grey, grey), linear-gradient((50deg, purple, rgba(255, 0, 255, 0.9)));
	
	border: 2px solid transparent;
	border-radius: 10px;

	background-clip: padding-box, border-box;
	background-origin: border-box;
	
	p {
		margin-left: 0.5em;
	}
}