.headerNavBar {
	display: fixed;
	top: 0%;
}

.navBar {
	width: 100%;
	height: 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	font-size: clamp(10px, 2vw, 20px);
	box-shadow: 0 15px 35px rgba(93, 50, 93, 0.562), 0 5px 15px rgba(0, 0, 0, 0.07);

	* {
		transition: 0.25s ease-in-out;
	}

	.navPongTitle {
		width: 32%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-left: 3%;
		cursor: pointer;

		h1:hover {
			color: #ff00aa99;
		}
	}

	.navPlay {
		width: 32%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.navRight {
		width: 32%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 2%;

		p {
		cursor: pointer;
		font-size: clamp(10px, 2vw, 20px);
			color: white;
			&:hover {
				color: #ff00aa99;
			}
		}

		.navProfilePicture > img {
			width: auto;
			height: 5vh;
		cursor: pointer;
		// display: flex;
			// align-items: center;
			// justify-content: center;
		}

		.navPseudo {
			width: auto;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 3%;
		}

		
	}
	.gg-log-off {
		cursor: pointer;
		margin-right: 4%;
		box-sizing: border-box;
		position: relative;
		display: block;
		border-radius: 16px;
		border: 2px solid;
		transform: scale(var(--ggs, 1));
		width: 16px;
		height: 16px;
		border-top: 2px solid transparent;
		&:hover {
			color: #ff000099;
		}
	}

	.gg-log-off::before {
		content: '';
		display: block;
		box-sizing: border-box;
		position: absolute;
		border-radius: 3px;
		height: 8px;
		width: 2px;
		background: currentColor;
		left: 5px;
		bottom: 6px;
	}
	.gg-log-off::hover {
		content: '';
		display: block;
		box-sizing: border-box;
		position: absolute;
		border-radius: 3px;
		height: 8px;
		width: 2px;
		background: currentColor;
		left: 5px;
		bottom: 6px;
		color: #ff000099;
	}
}
