.playButton {
	
	background-color: transparent;
	display: flex;
	border: none;
	cursor: pointer;
	
	.playText {
		font-weight: 400;
		font-size: clamp(10px, 2.4vw, 20px);
		text-align: center;
		color: purple;

		&:hover {
			color: #ff00aa99;
		}
	}

}
