.logIn {
	/* panorama */

	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	
	background-image: url(../../../public/background.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.divPongTitleCorner {
	position: absolute;
	margin-top: 0%;
	padding-top: 0%;
	font-size: 1.5vw;
	
}

.divFortyTwo {
	position: absolute;
	left: 48%;
	right: 48%;
	top: 40%;
	bottom: 40%;

}
