.parameters {

	/* panorama */
	
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	
	background-image: url(../../../public/background_3.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	display: flex;
	flex-direction: column;
	
}

.divParametersTop {

	display: flex;
	width: 100%;
	height: 25%;
	justify-content: center;
	
}

.divParametersMiddle {

	display: flex;
	width: 100%;
	height: 50%;

}

.divParametersBottom {

	display: flex;
	width: 100%;
	height: 25%;
	
}