@font-face {
	font-family: 'DotGothic16';
	src: url(../../../public/DotGothic16-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
	font-family: 'DotGothic16';
	font-style: normal;
	box-sizing: border-box;
	border-radius: 10px;


}