.mainPage {

	/* Main Page */
	
	position: relative;
	width: 100%;
	height: 100%;


	/* panorama */
	
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	
	background-image: url(background.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
}

.divPongTitleMid {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	font-size: 2.5vw;
	
}
.divLogInButton {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
}
