

.GameArea {
	display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
	width: 100%;
	height: 100%;
	border: 0.5px solid white;
}

.PongDiv {
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0);
	position: relative;
}


.Pleft {
	background-color: white;
	position: absolute;
}


.Pright {
	background-color: white;
	position: absolute;
}


.Ball {
	width: 20px;
	height: 20px;
	background-color: white;
	position: absolute;
}