@font-face {
	font-family: 'DotGothic16';
	src: url(DotGothic16-Regular.ttf);
}

@font-face {
    font-family: 'ZenDots';
    src: url(ZenDots-Regular.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(Inter.ttf);
}

* {
	margin: 0;
	padding: 0;
	font-family: 'DotGothic16';
	font-style: normal;
	box-sizing: border-box;
	text-decoration: none;

	::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 7px;
	}
	  
	::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background-color: rgba(0, 0, 0, .5);
		box-shadow: 0 0 1px rgba(255, 255, 255, .5);
	}	
}

button {
	border-radius: 8px;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: transparent;
	cursor: pointer;
	transition: border-color 0.25s;
}

body {
	background-color: #2A1054;
	overflow: auto;
}

input {
	border-radius: 1px;

	padding: 5px;
	font-size: 1em;
	font-weight: 500;
	font-family: Inter;
	transition: border-color 0.25s;
}