.divdisconnectButton {

	display: flex;
	width: 100%;
	height: 100%;
	padding-left: 20%;
	justify-content: flex-start;

	align-items: center;

	.disconnectButton {

		background-color: transparent;
		display: flex;
		width: 50%;
		height: 40%;
		border: none;
		cursor: pointer;

		.disconnectText {

			font-weight: 600;
			font-size: 2.5vw;
			margin: auto;
			text-align: center;
			font-family: 'inter';
			color: white;

		}

	}

}