.chatButton {
		
	display: flex;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.icon {
	font-size: 1.75vw;
	background-color: rgba(0, 0, 0, 0.155);
	color: #802877;

	&:hover {
		color: #ff00aa99;
	}
}