.checkButton {

	display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    width: 50%;
    margin-left: 110%;
	margin-top: -18%;

	background: rgba(36, 36, 36, 0.33);

	.checkText {

		margin: auto;
		text-align: center;
		color: white;

	}
}