.fortyTwoButton {
	background-color: transparent;
	background-image: url('../../../public/42_Logo.png');
	background-size: cover;
	background-repeat: no-repeat;
	align-items: center;
	display: flex;
	height: 5vw;
	width: 5vw;
	border-radius: 10px;
}