.logInText {
	/* Log in Text */
	
	position: absolute;
	font-family: 'DotGothic16';
	font-style: normal;
	font-weight: 700;
	font-size: 1.5vw;
	margin: auto;
	text-align: center;
	bottom: 12%;
	
	color: rgba(235, 235, 235, 0.8);

}