.HeaderMenuFriend {

	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.divTitleFriendChat {

		display: flex;
		width: 100%;
		height: 10%;

		h1 {

            color: white;
            font-family: "Inter";
            font-size: 5vh;
            width: 100%;
            height: 100%;
            
            display: flex;
            justify-content: center;
            align-items: center;

		}

	}

	.divListFriend {

		display: flex;
		width: 90%;
		height: 65%;
		flex-direction: column;
		align-items: start;
		overflow-y: scroll;

		p {

			color: white;
			font-family: "Inter";
			font-size: 3vh;
			width: 100%;
            height: 10%;

			display: flex;
			justify-content: center;
            align-items: center;

			margin-block: 0.25%;
		}

	}

	.divAddFriend {

		display: flex;
		width: 100%;
		height: 10%;
		border-color: white;
		border-style: none none solid none;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		.divTitleAddFriend {

			display: flex;
			height: 100%;
			width: 30%;
			padding-left: 1%;
			align-items: center;
			justify-content: center;


			button {

				color: white;
				font-family: "Inter";
				background-color: rgba($color: #000000, $alpha: 0.8);
				border: none;
				cursor: pointer;
				align-items: center;
				justify-content: center;
				font-size: 2vh;
	
			}

		}

		.divInputAddFriend {

			display: flex;
			width: 70%;
			height: 100%;
			align-items: center;
			justify-content: center;

			.test {

				display: flex;
				width: 90%;
				height: 40%;
			}

		}

	}

	.divChangePageServer {

		display: flex;
		width: 100%;
		height: 15%;
		align-items: center;
		justify-content: center;

		h1 {

			color: white;
            font-family: "Inter";
            font-size: 5vh;
            width: 100%;
            height: 100%;
            
            display: flex;
            justify-content: center;
            align-items: center;

		}

	}

}