.headerNavBar {
	display: fixed;
	top: 0%;
	margin-top: 1.5%;
}

.navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	width: 100%;
	height: 5%;
	
	* {
		transition: 0.25s ease-in-out;
	}
}

.navPongTitle {
	display: fixed;
	position: fixed;
	left: 0.2%;
	width: 25%;
	font-size: 1vw;
}

.navPlay {
	position: fixed;
	left: 37.5%;
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navRight {
	position: fixed;
	right: 0%;
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: right;

	div {
		position: relative;
		right: 0%;
		padding-right: 0.2%;
		padding-left: 5%;
	}

	.navProfilePicture {

		p {
			color: white;
		}
	}
}
