.playBigButton {
	
	background-color: transparent;
	display: flex;
	border: none;
	cursor: pointer;
	
	.playBigText {
		font-weight: 400;
		font-size: 5.5vw;
		margin: auto;
		text-align: center;
		color: #ffffff;
		transition: 0.25s ease-in-out;

		&:hover {
			color: #ff00aa99;
		}
	}
}
