.bodySearchingPlayer {
	
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	
	.searchingPlayerText {
		font-size: 2.5vw;
		font-weight: 400;
		text-align: center;
		
		// Color animation
		-webkit-text-fill-color: transparent;
		background: linear-gradient(to right, purple, white, purple);
		background-clip: text;
		background-size: 400%;
		background-position: 0;
		animation: textshine 8s linear infinite;
		
	}

	@keyframes textshine {
		0% {
			background-position: 0% 0%;
		}
		12% {
			background-position: 50% 0%;
		}
		25% {
			background-position: 100% 0%;
		}
		37% {
			background-position: 100% 50%;
		}
		50% {
			background-position: 100% 100%;
		}
		62% {
			background-position: 50% 100%;
		}
		75% {
			background-position: 0% 100%;
		}
		87% {
			background-position: 0% 50%;
		}
		100% {
			background-position: 0% 0%;
		}
	}
}
