.ChangeName {
	
	display: flex;
	
	p {
		font-family: 'Inter';
		font-weight: 300;
		color: #FFFFFF;
	}
}

.PutName {

	display: flex;
	margin-left: 75%;
	margin-bottom: 10%;
	margin-top: 5%;
	transform: scale(1.5);

}

.ChangeNameButton {

	margin-right: 10%;
	margin-top: 20%;

}